.frame {
  height: 12rem;
  width: 100%;
  background-color: #f2f2e8;
}
.text_aria {
  position:absolute;
  margin: 2rem;
}
.btn {
  margin: 8rem 2rem;
  width: 10rem;
  border: 1px solid #bf7a26 !important;
  background-color: rgba(191, 122, 38, 0.7) !important ;
  color: white;
  cursor: pointer;
}
.btn > a {
  color: white;
}
.btn > a:hover {
  color: white;
}

.btn:focus .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.copy:hover {
  color: #bf7a26;
}
