.frame {
  height: 12rem;
  width: 100%;
  background-color: #f2f2e8;
  margin-top: 4rem;
}
.textAria {
  position:absolute;
  margin: 2rem;
}
.btn {
  margin: 8rem 2rem;
  width: 10rem;
  border: #bf7a26;
  background-color: #bf7a26;
  color: white;
  cursor: pointer;
}
.copy:hover {
  color: #bf7a26;
}