.Login {
  display: inline-block;
  position: relative;
  width: 360px;
  padding: 30px;
  margin: 0 auto;
  text-align: left;
  align-items: center;
}

.form {
  align-items: left;
  justify-content: center;
  width: 30em;
}

.login-input {
  display: flex;
  align-items: center;
}

.login-input label {
  float: left;
  font-size: 13px;
  width: 110px;
  margin-bottom: 5%;
}

input {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  text-align: center;
}

.submit {
  background-color: #bf7a26;
}

.submit button {
  width: 100px;
}
