.Login {
  display: inline-block;
  position: relative;
  width: 360px;
  padding: 30px;
  margin: 0 auto;
  text-align: left;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  justify-content: center;
  align-items: center;
  width: 40em;
  border: 1px solid lightsteelblue;
  padding: 3em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.login-input {
  display: flex;
  align-items: center;
}

.login-input label {
  float: left;
  font-size: 13px;
  width: 110px;
  margin-bottom: 5%;
}

input {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  text-align: center;
}

.submit {
  background-color: #bf7a26;
}

.submit button {
  width: 100px;
}
