.Login {
  display: inline-block;
  position: relative;
  width: 360px;
  padding: 30px;
  margin: 0 auto;
  text-align: left;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes opacity-in {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
.form {
  justify-content: center;
  align-items: center;
  width: 40em;
  /* border: 1px solid lightsteelblue; */
  padding: 3em;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(191, 122, 38, 0.7);
  opacity: 0.7;
  animation-name: opacity-out;
  animation-duration: 1s;
}
.form:hover {
  box-shadow: 2px 2px 20px rgba(191, 122, 38, 0.9);
  opacity: 1;
  animation-name: opacity-in;
  animation-duration: 0.5s;
}
.title {
  color: #f2f2e8;
}
.login-input {
  display: flex;
  align-items: center;
}

.login-input label {
  float: left;
  font-size: 13px;
  width: 110px;
  margin-bottom: 5%;
}

input {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  text-align: center;
}

.submit {
  background-color: #bf7a26;
}

.submit button {
  width: 100px;
}
.social_btn {
  color: rgba(0, 0, 0, 0.9);
}
.social-container {
  margin: 20px 0;
}
/* .btn:hover {
  color: rgba(191, 122, 38, 0.9);
} */
.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
