@media (max-width: 700px) {
  .main-footer {
    height: 190px;
  }
  .main-footer .contents {
    line-height: 190px;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 701px) {
  .main-footer {
    height: 110px;
  }
  .main-footer .contents {
    line-height: 110px;
    text-align: center;
    margin: 0 auto;
  }
}
